*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#0f172a;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.app{
width:360px;
background:#ffffff;
border-radius:20px;
padding:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.header{
text-align:center;
margin-bottom:10px;
}

.header h1{
color:#0f172a;
}

.header p{
font-size:14px;
color:#555;
}

.perfil{
text-align:center;
margin-bottom:10px;
}

.menu{
display:flex;
justify-content:space-around;
margin:10px 0;
}

.menu button{
padding:8px;
border:none;
border-radius:10px;
background:#3b82f6;
color:white;
cursor:pointer;
}

.seccion{
display:none;
}

.activa{
display:block;
}

.card{
background:#f1f5f9;
padding:15px;
margin:10px 0;
border-radius:15px;
text-align:center;
}

button{
width:100%;
margin-top:5px;
padding:10px;
border:none;
border-radius:10px;
background:#3b82f6;
color:white;
cursor:pointer;
}

button:hover{
background:#1d4ed8;
}

.volver{
background:#ef4444;
}

.volver:hover{
background:#dc2626;
}

.footer{
display:flex;
justify-content:space-around;
margin-top:10px;
font-size:20px;
}
